SAR ({{ regime }}) alert={{ alert_id }} tx={{ tx_hash }} {{ amount }} {{ asset }} {{ originator }}->{{ beneficiary }} score={{ risk_score }} decision={{ decision }}
Activity: {{ suspicious_activity }}
